<app-header title="Recuperar contraseña" backButton="/auth"></app-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1 class="title">¿Olvidaste tu contraseña?</h1>
    <p class="subtitle">Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <ion-item class="custom-input">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="resetForm.get('email').invalid && resetForm.get('email').touched">
        <span *ngIf="resetForm.get('email').errors && resetForm.get('email').errors['required']">El correo electrónico es obligatorio</span>
<span *ngIf="resetForm.get('email').errors && resetForm.get('email').errors['email']">Ingresa un correo electrónico válido</span>
      </div>

      <ion-button expand="block" type="submit" [disabled]="isSubmitting" class="submit-button">
        Enviar correo de recuperación
      </ion-button>
    </form>
  </div>
</ion-content>
