<app-header title="Inicio"></app-header>

<ion-content [scrollEvents]="true" class="ion-padding-bottom">
  <!-- Loader -->
  <div *ngIf="isLoading" class="loader-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando publicaciones...</p>
  </div>

  <!-- Lista de Publicaciones -->
  <ion-grid *ngIf="!isLoading && publications && publications.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let publication of publications">
        <ion-item class="publication-item" lines="none" detail="false">
          <div class="item-content">
            <ion-thumbnail>
              <img [src]="publication.images[0]" alt="publication image">
            </ion-thumbnail>
            
            <ion-label>
              <h2>{{ publication.title }}</h2>
              <h3 class="price-text">${{ publication.price }} CLP</h3>
              <p>
                <ion-icon name="person-outline"></ion-icon>
                {{ publication.userName }} {{ publication.userLastName }}
              </p>
              <p>
                <ion-icon name="people-outline"></ion-icon>
                {{ publication.capacity }} personas
              </p>
              <p>
                <ion-icon name="earth-outline"></ion-icon>
                {{ publication.location.charAt(0).toUpperCase() + publication.location.slice(1) }}
              </p>
              <ion-button size="small" expand="block" (click)="goToPublicationDetail(publication)">
                Ver detalles
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
              </ion-button>
            </ion-label>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Empty State -->
  <div *ngIf="!isLoading && (!publications || publications.length === 0)" class="empty-state">
    <ion-icon name="newspaper-outline" style="font-size: 100px; color: var(--ion-color-medium)"></ion-icon>
    <ion-text color="medium">
      <h2>No hay publicaciones para mostrar</h2>
    </ion-text>
  </div>
</ion-content>
